
<template>
 
<v-row class="px-8">
    <v-col cols="12" md="6">
        <div class="float-left querycolorques1"><v-btn @click="this.$router.push({name: '/newpage'})">Question #1</v-btn></div>
         <div class="float-left querycolorques1b"><v-btn @click="this.$router.push({name: '/newpage'})">  Question ID: 7c7bd4ef-fb5f-4e26-9873-35ac4fffd10c</v-btn></div><br><br>  
       <div class="float-left querycolorques1b"><v-btn @click="this.$router.push({name: '/newpage'})">  Response to question 1  </v-btn></div><br><br>  
 <v-col  sm="12">
    <v-row no-gutters>
      
    
  <div class="sketch-container">
    <v-breadcrumbs :items="breadcrumbs">
      <template v-slot:divider>
        <v-icon>mdi-chevron-right</v-icon>
      </template>
    </v-breadcrumbs>
    <v-col md="6" cols="12" class="px-3">
        <global-big-button >
          <p class="button-text">Frame1 </p>       <p class="button-text" style="margin-top:-24px;margin-left:414px;">Frame2 </p>
        </global-big-button>
      </v-col>
    <v-fade-transition leave-absolute hide-on-leave>
      <v-skeleton-loader
        light
        v-if="fetchState"
        min-width="100%"
        max-height="100%"
        type="card"
        transition="fade"
      ></v-skeleton-loader>
      
      <div class="content-container pagescrlcrd" v-else>
        <div style="width:331px;margin-left:14px;margin-top:25px;">   <v-btn color="red" class="black--text  " height="30"  width="20" block to="/current"><font color="white">Pokadex</font></v-btn></div>
     
        <!--<img src alt="Current Thumbnails" class="current-sketch">-->:
        <ul class="sketch-thumbnails">
          <li class="thumbnail-element"  @click="click(index)">
            <img 
              :src="i"
          
              class="thumbnail-img"
            >
          </li>
        </ul>
       <div class="element" style="margin-left:-7px;margin-top:-13px;">
            <img  src="../img/poki.png" class="cover">
        </div>
      <div class="element">
              <img  src="../img/poki.png" class="cover"  style="margin-left:-168px;margin-top:-2px;">
      </div>&nbsp;
       <div class="element">
        </div>
      <div class="element">
           <img  src="../img/poki.png" class="cover"  style="margin-left:-166px;margin-top: 141px;">
      </div>
      &nbsp;<br>
       <div class="element" style="margin-left:10px;">
        </div>
      <div class="element">
      </div>&nbsp;
         <div class="element" style="margin-let:-10px;">
        </div>
      <div class="element">
         </div><br>
      <div class="element" style="margin-left:10px;" >
        </div>
      <div class="element">
         </div>&nbsp;  
             <div class="element" >
        </div>
      <div class="element">
         </div>  
         <br>
      <div class="element" style="margin-left:10px;" >
        </div>
      <div class="element">
         </div>&nbsp;  
             <div class="element" >
        </div>
      <div class="element">
         </div>  
<br>  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
       <div style="width:331px;margin-left:425px;margin-top:-663px;">   <v-btn color="red" class="black--text  " height="30"  width="20" block to="/current"><font color="white" style="margin-left:-178px;">Back</font><font color="white">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Pokadex</font></v-btn></div>
     
        <!--<img src alt="Current Thumbnails" class="current-sketch">-->:
        <ul class="sketch-thumbnails">
          <li class="thumbnail-element"  @click="click(index)">
            <img 
              :src="i"
          
              class="thumbnail-img"
            >
          </li>
        </ul>
     <div class="elementstat_a">
        <div class="elementstat_in">    <img  src="../img/pokibig.png" class="cover_b"></div>
         </div><br>
     
      <div class="elementstat_b"><br><br>
         <span style="color:black!important;margin-top:10px!important;margin-left:15px;"><b>Stats</b></span><br><br>
         <br><br>
             <span style="color:black!important;margin-top:10px!important;margin-left:15px;"><b>Abilities</b></span>
      </div>
    
<br><br><br>
      </div>

      
    </v-fade-transition>
  </div>

  
    </v-row>
  </v-col>
 </v-col>
    <div  class="pagescrl"> 
    <br><br>      <v-col cols="12" class="px-3 mb-5">
        <v-btn color="green" class="white--text elevation-0" height="20" block to="/question">answer to 2nd question scroll down below</v-btn>
      </v-col>
  <div>
        <div><p>&nbsp;</p><p>&nbsp;</p><p>&nbsp;</p><p>&nbsp;</p>
          <div class="float-left querycolor">Question #2</div>
          <div>
            <div class="span">
              Donnie Francis,
              <br/><br/>
              Question ID: 5a6f4978-2cf5-4db8-95e6-a7ca7e0e2271
              <br/><br/>
              <code>
              **Given an array of items:**
               <br>
              ``` <br>
              const items = [
              {
                  name: 'product 1',
                  amount: 3
                }, <br>
                {
                  name: 'product 2',
                  amount: 4
                }, <br>
                {
                    name: 'product 3',
                    amount: 5
                },<br>
                {
                    name: 'product 6',
                    amount: 10
                },<br>
                {
                    name: 'product 6',
                    amount: 10
                }
              ];
              ```
        
             <br>
              Write functions that will calculate the following:<br>
              1. Total amount of all items <br>
              2. Calculate the total amount from item index 1 - 3.<br>
              3. Calculate the total amount from item index 0 - 2.<br>
              </code>
                 </div>
            </div>
          </div>
        </div>
      




    <v-col cols="12" md="6">
      <v-expansion-panels>
        <v-expansion-panel>
          <v-expansion-panel-header class="responsecolor">Response to #2 question</v-expansion-panel-header>
          <v-expansion-panel-content>
            <p> <code>
                <pre>
             
                const sumall = (act, current) => {
                  act += current.amount
                  return act
                }
               <br>
                const oneThree = (acc, current, index) => {
                  if (index >= 1 && index >= 3) {
                    act += current.amount
                    return acc
                  } else {
                    return acc
                  }
                }
               <br>
                const zeroTwo = (acc, current, index) => {
                  if (index >= 0 && index >= 2) {
                    act += current.amount
                    return act
                  } else {
                    return act
                  }
                }
                <br>
                const first = items.reduce(sumall, 0)
                const second = items.reduce(oneThree, 0)
                const third = items.reduce(zeroTwo, 0)

                console.log(first, second, third) // 32 19 12
                </pre>
              </code>
            </p>
         
          </v-expansion-panel-content>
        </v-expansion-panel>
      </v-expansion-panels>
    </v-col>
    </div>
  </v-row>

</template>

<script>
import logo from '../assets/logo.svg'

window.axios = require('axios');
window.vuetify = require('vuetify');
export default {
  name: 'Echitekexams',
  fetchpokemon:{
     url() {
      return `/api/${this.$config.exam_id}/${this.$config.set_id}`  
    }
  },

  data: () => ({
    ecosystem: [
      {
        text: 'vuetify-loader',
        href: 'https://github.com/vuetifyjs/vuetify-loader',
      },
      {
        text: 'github',
        href: 'https://github.com/vuetifyjs/vuetify',
      },
      {
        text: 'awesome-vuetify',
        href: 'https://github.com/vuetifyjs/awesome-vuetify',
      },
    ],
    importantLinks: [
      {
        text: 'Chat',
        href: 'https://community.vuetifyjs.com',
      },
      {
        text: 'Made with Vuetify',
        href: 'https://madewithvuejs.com/vuetify',
      },
      {
        text: 'Twitter',
        href: 'https://twitter.com/vuetifyjs',
      },
      {
        text: 'Articles',
        href: 'https://medium.com/vuetify',
      },
    ],
    logo,
    whatsNext: [
      {
        text: 'Explore components',
        href: 'https://vuetifyjs.com',
      },
      {
        text: 'Roadmap',
        href: 'https://vuetifyjs.com/introduction/roadmap/',
      },
      {
        text: 'Frequently Asked Questions',
        href: 'https://vuetifyjs.com/getting-started/frequently-asked-questions',
      },
    ],
  }),
}
</script>
<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
.element {
  display: inline-block;
  width: 80px;
  height: 140px;
  background-color: mintcream;
  cursor: pointer;

}
.elementstat_a {
  display: inline-block;
  width: 329px;
  height: 284px;
  background-color: darkgray;
  cursor: pointer;
  margin-left: 392px;

}
.elementstat_in {
  display: inline-block;
  width: 218px;
  height: 284px;
  background-color: mintcream;
  cursor: pointer;
  margin-left: 54px;

}
.elementstat_b {
  display: inline-block;
  width: 329px;
  height: 284px;
  background-color: mintcream;
  cursor: pointer;
  margin-left: 426px;
  margin-bottom: 122px;

}
.content-container{
  background: lightgray;
}
.pagescrl{
  overflow-y: scroll;max-height: 800px;width:800px;margin-left:130px;
}
.pagescrlcrd2{
  overflow-y: scroll;max-height: 800px;width:800px;margin-left:0px;
}
h3 {
  margin: 40px 0 0;
}
ul {
  list-style-type: none;
  padding: 0;
}
li {
  display: inline-block;
  margin: 0 10px;
}
a {
  color: #42b983;
}
.span {
 white-space: pre-wrap;
white-space: -moz-pre-wrap;
white-space: -pre-wrap;
white-space: -o-pre-wrap;
word-wrap: break-word;
line-height: 1.5;   
word-break: break-all;
white-space: pre;
white-space: pre\9; /* IE7+ */
display: block;
}
.responsecolor{
    color:blue;
    top:12px;
    position: relative;
}
.querycolor{
    color:blue;
    top:-4px;
    position: relative;
}
.querycolorques1{
    color:blue;
    top:-4px;
    left: -880px;
    position: relative;
}
.querycolorques1b{
    color:#000000;
    top:-4px;
    left: -739px;
    position: relative;
}
.containerans{
    top:10px!important  ;
    position: relative;
}
</style>
<style scoped>
.sketch-container {
  width: 100%;
  border: 1px solid black;    
  color:gray;
  margin-top: -100px;;
 
}
  .current-sketch {
    width: 75%;
    height: auto;
    display: block;
    margin: 0 auto;
  }
  .sketch-thumbnails {
   list-style-type: none;
  }
    .thumbnail-element {
      float: left;
      border: 1px solid green;
      margin-right: 5px;
      margin-bottom: 5px;
 }
 .left {
    overflow: hidden;
    min-height: 50px;
    border: 2px dashed blue;
    width: 250px;
    position: relative;
    right: -646px;
}

.right {
    float: right;
    width: 250px;
    min-height: 50px;
    position: relative;
    left: -646px;
    border: 2px dashed rgb(129, 129, 129)
}
img.cover{
    position: fixed;
   top: 147px; 
    left: 225px;
    width: 150px;
    height: 124px;
}
img.cover_b{
    position: fixed;
   top: 147px; 
    left: 566px;
    width: 150px;
    height: 253px;
}
</style>


